.skills {
    background: #000;
}

.skills .content {
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skills .content .progress .bars {
    margin-bottom: 15px;
}

.skills .content .progress .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .content .progress span {
    font-weight: 500;
    font-size: 18px;
}

.skills .content .progress .line {
    height: 5px;
    width: 100%;
    background: #222;
    position: relative;
}

.skills .content .progress .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #2196f3;
}

.skills .content .progress .java::before {
    width: 75%;
}

.skills .content .progress .cPlusPlus::before {
    width: 75%;
}

.skills .content .progress .html::before {
    width: 75%;
}

.skills .content .progress .css::before {
    width: 75%;
}

.skills .content .progress .javaScript::before {
    width: 75%;
}

section .content .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

section .content .projects .projectBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    width: 300px;
    height: 250px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

section .content .projects .projectBx:hover {
    background: #2196f3;
}

section .content .projects .projectBx img {
    max-width: 80px;
    filter: invert(1);
}

section .content .projects .projectBx h2 {
    font-size: 20px;
    font-weight: 600;
}

.cPlusPlus{
    background: #111;
}


.python{
    background: #111;
}